@{
    ViewBag.Title = "Forgot Password";
}
<style>
    .form-control {
        top: 7%;
        height: 6vh;
        font-size: 1.2vw;
        
    }
    </style>
<h1 style="margin-left:38%;font-weight:700;margin-top:10%;">FORGOT PASSWORD</h1><br/>
<h4 style="margin-left:31%;">Please enter your email address below and we will send you <h4>
    <h4 style="margin-left:39%;">link to change your password.</h4><br>



@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <div class="text-success" style="margin-left:35%;font-size:small;">
            @ViewBag.Message
        </div><br>
        <div class="form-group">
            <label class="control-label col-md-2" style="font-size:15px;margin-left:22%;top:7%;">Email ID :</label>
            @Html.TextBox("EmailID", "", new { @class = "form-control" })
        </div>
        <br/>
        <div class="form-group" style="margin-left:34%;top:7%;">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-success" style="font-size: 1.1vw; padding-left: 20px; padding-right: 20px;"/>
            </div>
        </div>
    </div>
}