
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<style>
    * {
        margin: 0;
        padding: 0;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        user-select: none;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }
    h2 {
        margin: 0 0 30px 0;
        font-size: 30px;
        font-family: "CaviarDreamsBold", Arial, Helvetica, sans-serif;
        font-weight: 600;
        line-height: normal;
        color: #05364f;
    }
    img {
        width: 100%;
        border: none;
        margin-top:-1.2%;
    }

    p {
        line-height: 30px;
        font-size:20px;
        margin-bottom: 20px;
        text-align: justify;
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-family: "CaviarDreamsBold", Arial, Helvetica, sans-serif;
    }
    h5 {
        margin: 10px 0 10px 0;
        font-size: 25px;
        font-family: "CaviarDreamsBold", Arial, Helvetica, sans-serif;
        font-weight: 600;
        line-height: normal;
        text-transform: capitalize;
        color: #05364f;
        margin-left: 18%;
    }
</style>
<body>
    <br>
    <div align="center">
        <img src="~/Content/Images/MainHouse.jpg" alt="HouseRent Property">
    </div>
    <h2 style="margin-left:18%;margin-top:3%;text-decoration:underline;">About Us :</h2>
    <p align="justify" style="margin-left:25%;color:#3c3c3c;margin-right:10%;">
        Our Property Developers ventured with a goal of offering the best product in affordable price range. We the Property Developers are committed to excellence in all that we do. We believe that on time delivery of highest quality projects will bring many more valuable customers. We create positive, memorable experiences and lasting relationships because our actions are guided by our values.
    </p>
    <p align="justify" style="margin-left:25%;color:#3c3c3c;margin-right:10%;">
        Our success lies on employees dedication to excellent work, customer service that exceeds expectation. It is the result of our dedication and hard work that we have become one of the best promoters in Various states, Tamilnadu.
    </p>
    <h5>Vision :</h5>
    <p align="justify" style="margin-left:25%;color:#3c3c3c;margin-right:10%;">
        To be the leading provider of quality construction in Various States,Tamilnadu.
    </p>

    <h5>Mission :</h5>
    <p align="justify" style="margin-left:25%;color:#3c3c3c;margin-right:10%;">
        To form long-term relationships of value with our customers by using quality construction and employing the best resources.

    </p>

    <h5>
        Quality Policy :
    </h5>
    <p align="justify" style="margin-left:25%;color:#3c3c3c;margin-right:10%;">
        -> Total involvement of employees.<br>
        -> Meeting the customer requirement.<br>
        -> Continue to improve the quality system and achieve zero tolerance.
    </p>
    <br><br><br>
</body>