
@{
    ViewBag.Title = "BookingCancelView";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<style>
    * {
        margin: 0;
        padding: 0;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        user-select: none;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }
</style>
<body>
    <br><br><br>

    <h1 style="margin-left:32%;margin-top:13%;">Your Booked Property is Cancelled</h1>
    <h2 style="margin-left:25%;font-weight:lighter;margin-top:2%;color:crimson;">Hereafter , You may not continue this booking and You have some other<br><h2 style="margin-left:30%;font-weight:lighter;margin-top:1%;color:crimson"> Properties in your All Property page , Please Check it..!</h2></h2>

    </body>